@import url('./globals.css');

body {

    background-color: var(--bg-primary);
    grid-template-columns: 100%;
    grid-template-rows: 8.75vh 79.75vh 8vh;
    display: grid;
    gap: 1rem;

}

.navbar {

    background-color: var(--bg-tertiary);
    border-bottom: 1px solid var(--bg-outline);
    grid-row: 1;
    padding: 1rem;

    .container .brand {

        align-items: center;
        display: flex;
        gap: 1rem;

        img {

            height: 2.5rem;
            width: 2.5rem;

        }

        h2 {

            font-weight: 800;
            font-size: 1.5rem;
            color: var(--tg-primary);

        }

    }

    .container button { gap: 1rem; }

}

#main {

    flex-direction: row;
    grid-row: 2;
    display: flex;
    height: 100%;
    gap: 2rem;

    ul.nav {

        background-color: var(--bg-secondary);
        flex-direction: column;
        align-self: flex-start;
        flex-wrap: nowrap;
        display: block;
        height: auto;
        width: 30%;

        li a {

            transition: 0.2s ease all;
            font-weight: 500;
            align-items: center;
            padding: 1rem;
            display: flex;
            color: var(--tg-primary);
            gap: 0.5rem;

            &.dropdown {

                justify-content: space-between;
                display: flex;

                span {

                    align-items: center;
                    display: flex;
                    gap: 0.5rem;

                }

            }

            i.fa-caret-down { transition: 0.2s ease all; }

            ul#accountsCollapse {

                li a {

                    padding-left: 2rem;

                }

            }

            &:hover, &.active {

                background-color: var(--accent);

            }

        }
        
    }

}

#footer {

    background-color: var(--bg-tertiary);
    align-items: center;
    grid-row: 3;
    display: flex;

    .container {
        
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        display: flex;

        h6 { color: var(--tg-secondary); }

        i {

            justify-content: center;
            border-radius: 0.25rem;
            transition: 0.2s ease all;
            align-items: center;
            font-size: 1.25rem;
            display: flex;
            height: 2.5rem;
            width: 2.5rem;
            color: var(--tg-primary);

            &:hover {

                background-color: var(--bg-outline);
                cursor: pointer;

            }

        }

    }

}

@media only screen and (max-width: 992px) {

    #main {

        flex-direction: column;

        .wrapper.navigation { width: 100%; }

        ul.nav { 
        
            height: auto;
            width: 100%; 
        
        }

    }

}

@media only screen and (max-width: 575px) {

    #footer .container {

        flex-direction: column;
        text-align: center;
        display: flex;

    }

}
