@import url('./globals.css');

body {

    background-color: var(--bg-primary);
    grid-template-columns: 100%;
    grid-template-rows: 8.75vh 1fr;
    display: grid;
    height: auto;
    gap: 2rem;

}

.navbar {

    background-color: var(--bg-tertiary);
    border-bottom: 1px solid var(--bg-outline);
    grid-column: 1;
    grid-row: 1;
    padding: 1rem;

    .container .brand {

        align-items: center;
        display: flex;
        gap: 1rem;

        img {

            height: 2.5rem;
            width: 2.5rem;

        }

        h2 {

            font-weight: 800;
            font-size: 1.5rem;
            color: var(--tg-primary);

        }

    }

    .container button { gap: 1rem; }

}

#main {

    grid-column: 1;
    grid-row: 2;

    .container {

        flex-direction: column;
        display: flex;
        gap: 1rem;

        .wrapper {

            flex-direction: row;
            display: flex;
            height: 100%;
            gap: 1rem;

            ul.nav {

                background-color: var(--bg-secondary);
                flex-direction: column;
                border-radius: 0.25rem;
                align-self: flex-start;
                flex-wrap: nowrap;
                display: block;
                height: auto;
                width: 30%;
        
                li a {
        
                    font-weight: 500;
                    align-items: center;
                    transition: 0.2s ease all;
                    padding: 1rem;
                    display: flex;
                    color: var(--tg-primary);
                    gap: 0.5rem;
        
                    &.dropdown {
        
                        justify-content: space-between;
                        display: flex;
        
                        span {
        
                            align-items: center;
                            display: flex;
                            gap: 0.5rem;
        
                        }
        
                    }
        
                    i.fa-caret-down { transition: 0.2s ease all; }
        
                    &:hover, &.active {
        
                        background-color: var(--accent);
                        cursor: pointer;
        
                    }
        
                }
        
                
                ul#accountsCollapse li a { 
                    
                    padding-left: 2rem;
                    cursor: pointer;
                
                }
                
            }
        
            .dashboard {
        
                
                flex-direction: column;
                display: flex;
                height: 100%;
                width: 70%;
                gap: 1rem;
        
                .breadcrumbs {
        
                    background-color: var(--bg-secondary);
                    border-radius: 0.25rem;
                    padding: 1rem;
                    p { color: var(--tg-primary); }
        
                }
        
                .counters {
        
                    flex-direction: row;
                    display: flex;
                    width: 100%;
                    padding: 0;
                    gap: 1rem;
            
                    .counter {
            
                        flex-direction: column;
                        background-color: var(--bg-secondary);
                        border-radius: 0.25rem;
                        display: flex;
                        padding: 1rem;
                        width: 100%;
                        gap: 1rem;
        
                        h4 { color: var(--tg-secondary); }
                        h3 { color: var(--tg-primary); }
            
                    }
            
                }
        
                .table { grid-row: 2; }
        
            }

        }

        .footer {

            background-color: var(--bg-secondary);
            justify-content: space-between;
            border-radius: 0.25rem;
            align-items: center;
            padding: 1rem;
            display: flex;

            h6 { color: var(--tg-secondary); }

            a {

                text-decoration: none;
                border-radius: 0.25rem;
                align-items: center;
                transition: 0.2s ease all;
                padding: 0.5rem 0.5rem;
                display: flex;
                gap: 0.5rem;
                color: var(--tg-secondary);

                i {

                    transition: 0.2s ease all;
                    color: var(--tg-secondary);

                }

                &:hover {

                    background-color: var(--bg-outline);
                    cursor: pointer;

                    i { color: var(--tg-primary); }

                }

            }
    
        }

    }

}

#footer {

    background-color: var(--bg-tertiary);
    align-items: center;
    grid-row: 3;
    display: flex;

    .container {
        
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        display: flex;

        h6 { color: var(--tg-secondary); }

        i {

            justify-content: center;
            border-radius: 0.25rem;
            align-items: center;
            transition: 0.2s ease all;
            font-size: 1.25rem;
            display: flex;
            height: 2.5rem;
            width: 2.5rem;
            color: var(--tg-primary);

            &:hover {

                background-color: var(--bg-outline);
                cursor: pointer;

            }

        }

    }

}

@media only screen and (max-width: 1200px) {

    #main {

        flex-direction: column;

        ul.nav { 
        
            height: auto;
            width: 100%; 
        
        }

        .dashboard { width: 100%; }

    }

}

@media only screen and (max-width: 575px) {

    #footer .container {

        flex-direction: column;
        text-align: center;
        display: flex;

    }

}
