@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {

    font-family: "Assistant", sans-serif;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html[data-theme="light"] {

    --bg-primary: #BBBBBB;
    --bg-secondary: #DCDCDC;
    --bg-tertiary: #EAEAEA;
    --bg-outline: #B0B0B0;
    --tg-primary: #151515;
    --tg-secondary: #606060;
    --tg-disabled: #AAAAAA;
    --accent: #6150FF;
    --accent-hovered: #4A3BD2;
    --error-background: #FFAEC1;
    --error-foreground: #E9204F;

}

html[data-theme="dark"] {

    --bg-primary: #101010;
    --bg-secondary: #202020;
    --bg-tertiary: #303030;
    --bg-outline: #404040;
    --tg-primary: #E0E0E0;
    --tg-secondary: #A0A0A0;
    --tg-disabled: #404040;
    --accent: #6150FF;
    --accent-hovered: #4A3BD2;
    --error-background: #4C1824;
    --error-foreground: #E9204F;

}

html {

    scroll-behavior: smooth;

}

h1, h2 {

    font-weight: 700;
    font-size: 3rem;
    margin: 0;
}

h3 {

    font-weight: 500;
    font-size: 2rem;
    margin: 0;

}

h4 {

    font-weight: 500;
    font-size: 1rem;
    margin: 0;

}

h5, p, label {

    font-weight: 400;
    font-size: 1rem;
    margin: 0;

}

h6 {

    font-weight: 400;
    font-size: 0.825rem;
    margin: 0;
    
}

button {

    justify-content: center;
    border-radius: 0.25rem;
    align-items: center;
    font-weight: 600;
    transition: 0.2s ease all;
    padding: 0.75rem 1.25rem;
    display: flex;
    gap: 0.5rem;

    &[data-type="primary"] {

        background-color: var(--accent);
        border: 0;
        color: var(--bg-tertiary);

        &:hover {

            background-color: var(--accent-hovered);
            cursor: pointer;
            color: var(--tg-primary);
    
        }

    }

    &[data-type="secondary"] {

        background-color: transparent;
        border: 1px solid var(--bg-outline);
        color: var(--tg-primary);

        &:hover {

            background-color: var(--bg-outline);
            cursor: pointer;
    
        }

    }
    
}

.form-group {

    label { color: var(--tg-secondary); }

    input.form-control, textarea.form-control {

        background-color: transparent;
        border-radius: 0.25rem;
        padding: 1rem;
        border: 1px solid var(--bg-outline);
        color: var(--tg-secondary);

        &:hover, &:focus {
    
            border: 1px solid var(--accent);
    
        }
    
        &:focus {
    
            background-color: var(--bg-outline);
            box-shadow: none;
            color: var(--tg-primary);
    
        }

    }

    .input-group {

        border-radius: 0.25rem;
        transition: 0.2s ease all;
        overflow: hidden;
        border: 1px solid var(--bg-outline);

        &.focused {

            background-color: var(--bg-outline);
            border: 1px solid var(--accent);
            color: var(--tg-primary);

        }

        .form-control {

            background-color: transparent;
            padding: 1rem;
            border: none;
            color: var(--tg-secondary);
    
        }

        .input-group-prepend .input-group-text, .input-group-append .input-group-text {

            background-color: var(--bg-outline);
            border-radius: 0;
            border: 0;

            &[data-contains="icon"] i {
                    
                transition: 0.2s ease all;
                color: var(--tg-secondary);
            
                &:hover {

                    cursor: pointer;
                    color: var(--accent);

                }
                

            }

        }

    }

}

.brand {
    
    align-items: center;
    display: flex;
    width: auto;
    gap: 1rem;

    img {

        height: 2.5rem;
        width: 2.5rem;

    }

    h2 {

        font-weight: 800;
        transition: 0.2s ease all;
        font-size: 1.5rem;
        color: var(--tg-primary);

    }

    &:hover {
        
        text-decoration: none; 
        cursor: pointer;
    
    }

}
