@import url('./globals.css');

body {

    grid-template-columns: 100%;
    grid-template-rows: 8vh 84vh 8vh repeat(5, auto);
    background-color: var(--bg-primary);
    position: relative;
    display: grid;

}

.navbar {

    background-color: var(--bg-tertiary);
    border-bottom: 1px solid var(--bg-outline);
    grid-row: 1;
    padding: 1rem;

    .container .brand {

        align-items: center;
        display: flex;
        gap: 1rem;

        img {

            height: 2.5rem;
            width: 2.5rem;

        }

        h2 {

            font-weight: 800;
            font-size: 1.5rem;
            color: var(--tg-primary);

        }

    }

    .container .navbar-toggler {

        transition: 0.2s ease all;
        border: 1px solid var(--bg-outline);

        &:hover {

            background-color: var(--bg-outline);
            cursor: pointer;

            i {

                color: var(--accent);

            }

        }
        
        i {

            padding: 0.5rem 0.1rem;
            color: var(--tg-primary);

        }

    }

    .container .navbar-collapse .container .navbar-nav.mr-auto {

        align-items: center;
        margin-left: 2rem;
        display: flex;
        gap: 1rem;

        li a {

            transition: 0.2s ease all;
            font-weight: 600;
            color: var(--tg-primary);

            &:hover, &.active {

                color: var(--accent);

            }

        }

    }

    .container .navbar-collapse .container .navbar-nav.ml-auto {

        flex-direction: row;
        display: flex;
        gap: 2rem;

        .controls {

            align-items: center;
            display: flex;
            gap: 1rem;

            i {

                justify-content: center;
                border-radius: 0.25rem;
                transition: 0.2s ease all;
                align-items: center;
                font-size: 1.25rem;
                display: flex;
                height: 2.5rem;
                width: 2.5rem;
                color: var(--tg-primary);
    
                &:hover {
    
                    background-color: var(--bg-outline);
                    cursor: pointer;
    
                }
    
            }

        }

        .divider {

            background-color: var(--bg-outline);
            align-self: stretch;
            width: 0.0625rem;

        }

        .cta {

            display: flex;
            gap: 1rem;

        }


    }

}

#home {
    
    background: linear-gradient(180deg, var(--bg-primary)  0%, var(--bg-secondary) 100%);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    width: 100%;

    .container {

        flex-direction: column;
        display: flex;
        gap: 4rem;

        .info {

            flex-direction: column;
            display: flex;
            gap: 2rem;

            h6 { color: var(--tg-secondary); }
            h1 { color: var(--accent); }
            h2 { color: var(--tg-primary); }
            p { 
            
                width: 60%;
                color: var(--tg-secondary);
            
            }
    
        }
    
        .cta {
    
            display: flex;
            gap: 1rem;
    
        }

    }

}

#hero-footer {

    background-color: var(--bg-secondary);
    place-content: center;
    grid-row: 3;
    display: grid;

    .container h6 { color: var(--tg-secondary); }

}

#what-we-offer {

    flex-direction: column;
    background-color: var(--bg-secondary);
    grid-row: 4;
    padding: 4rem 0;
    display: flex;
    gap: 4rem;

    .container {

        flex-direction: column;
        display: flex;
        padding: 4rem 0rem;
        gap: 4rem;

        .info .heading {

            flex-direction: column;
            display: flex;
            gap: 1rem;

            h5 { color: var(--accent); }

            .wrapper {

                flex-direction: column;
                display: flex;
                border: 0;

                h3:first-child {

                    font-weight: 700;
                    color: var(--tg-primary); 
                
                }
                h3:last-child {
                    
                    font-weight: 700;
                    color: var(--tg-secondary);
                
                }

            }
        
        }

        .row {

            background-color: var(--bg-tertiary);
            border-radius: 0.5rem;
            padding: 1rem;
            display: flex;
            gap: 1rem;

        }
            
    }

    .wrapper {

        flex-direction: row;
        border-radius: 0.5rem;
        overflow: hidden;
        display: flex;
        border: 1px solid var(--bg-outline);
                  
        .list {

            justify-content: space-between;
            flex-direction: column;
            display: flex;

            .feature {

                flex-direction: column;
                transition: 0.2s ease all;
                display: flex;
                padding: 2rem;
                gap: 2rem;
                
                .heading {
                
                    flex-direction: row;
                    display: flex;
                    gap: 1rem;
                
                    i {
                
                        font-size: 1rem;
                        color: var(--accent);
                
                    }
                
                    h3 {
                
                        font-size: 1rem;
                        color: var(--tg-primary);
                
                    }
                
                }
                
                p {
                
                    font-size: 1rem;
                    color: var(--tg-secondary);
                
                }
                
                &:hover {
                
                    background-color: var(--bg-outline);
                    cursor: pointer;
                
                }
    
            }

        }

    }

    img {

        background-color: white;
        width: 100%;
        height: 100%;

    }

}

#who-we-are {

    background-color: var(--bg-secondary);
    grid-row: 5;

    .container {

        flex-direction: column;
        display: flex;
        padding: 4rem 0rem;
        gap: 4rem;

        .heading {

            flex-direction: column;
            display: flex;
            gap: 1rem;

            h5 { color: var(--accent); }

            .wrapper {

                flex-direction: column;
                display: flex;
                border: 0;

                h3:first-child {

                    font-weight: 700;
                    color: var(--tg-primary); 
                
                }
                h3:last-child {
                    
                    font-weight: 700;
                    color: var(--tg-secondary);
                
                }

            }
        
        }

        .row {

            display: flex;
            gap: 2rem;

            .card {

                background-color: var(--bg-tertiary);

                img {

                    object-fit: cover;
                    height: 16rem;
                    width: 16rem;

                }

                .card-body h4 {

                    font-size: 1rem;
                    color: var(--tg-primary);

                }

                .card-body h5 {

                    font-size: 1rem;
                    color: var(--tg-secondary);

                }

            }

        }
            
    }

}

#newsletter {

    background-color: var(--bg-tertiary);
    grid-row: 6;
    padding: 4rem 0;

    .container {

        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: flex;
        gap: 4rem;

        .heading {

            text-align: center;
            flex-direction: column;
            display: flex;
            gap: 1rem;

            h5 { color: var(--accent); }

            .wrapper {

                flex-direction: column;
                display: flex;
                border: 0;

                h3:first-child {

                    font-weight: 700;
                    color: var(--tg-primary); 
                
                }
                h3:last-child {
                    
                    font-weight: 700;
                    color: var(--tg-secondary);
                
                }

            }
        
        }

    }

    .container .input-group {

        width: 32rem;

        .form-control {

            border-radius: 0.25rem 0 0 0.25rem;
            height: auto;

        }

        .input-group-append .input-group-text {

            padding: 0;

            button {

                border-radius: 0 0.25rem 0.25rem 0;
                height: 100%;

            }


        }


    }
    
}

#get-a-hold-of-us {

    background-color: var(--bg-secondary);
    grid-row: 7;
    padding: 4rem 0;

    .container {

        flex-direction: column;
        display: flex;
        gap: 4rem;

        .heading {

            flex-direction: column;
            display: flex;
            gap: 1rem;

            h5 { color: var(--accent); }

            .wrapper {

                flex-direction: column;
                display: flex;
                border: 0;

                h3:first-child {

                    font-weight: 700;
                    color: var(--tg-primary); 
                
                }
                h3:last-child {
                    
                    font-weight: 700;
                    color: var(--tg-secondary);
                
                }

            }
        
        }

        .container {

            flex-direction: row;
            display: flex;
            padding: 0;
            margin: 0;
            gap: 2rem;

            .info {

                flex-direction: column;
                display: flex;
                gap: 2rem;
        
                .phone, .chat {
        
                    flex-direction: column;
                    border-radius: 0.25rem;
                    display: flex;
                    gap: 1rem;
        
                    .text h4 { color: var(--tg-primary); }
                    .text p { color: var(--tg-secondary); }
        
                    button {
        
                        align-self: flex-start;
                        width: auto;
        
                    }
        
                }
        
            }

            .forms {

                flex-direction: column;
                display: flex;
                width: 100%;
                gap: 2rem;

                h4 { color: var(--tg-primary); }

                .wrapper {

                    flex-direction: column;
                    display: flex;
                    padding: 0;
                    margin: 0;
                    gap: 1rem;

                    .form-group {

                        flex-direction: column;
                        display: flex;
                        width: 100%;
                        gap: 0.5rem;
    
                        label { color: var(--tg-secondary); }
    
                    }

                    .name {

                        flex-direction: row;
                        display: flex;
                        gap: 1rem;
    
                    }

                }

            }

        }

    }

}

#footer {

    background-color: var(--bg-tertiary);
    grid-row: 8;
    padding: 2rem 0;

    .container {

        flex-direction: column;
        display: flex;
        gap: 2rem;
        
        .wrapper {

            justify-content: space-between;
            flex-direction: row;
            align-items: flex-start;
            display: flex;
            gap: 2rem;

            .links {

                flex-direction: row;
                display: flex;
                gap: 4rem;

                .column {

                    flex-direction: column;
                    display: flex;
                    gap: 1rem;

                    h5 { color: var(--tg-primary); }

                    ul {

                        flex-direction: column;
                        display: flex;
                        gap: 0.5rem;

                        li {

                            border-radius: 0.25rem;
                            align-items: center;
                            transition: 0.2s ease all;
                            display: flex;
                            padding: 0.5rem 1rem;
                            align-self: flex-start;
                            gap: 0.5rem;

                            a, i {
                                
                                transition: 0.2s ease all;
                                text-decoration: none;
                                color: var(--tg-secondary);
                            
                            }

                            &:hover {

                                background-color: var(--bg-outline);
                                cursor: pointer;
                                
                                a, i { color: var(--tg-primary); }

                            }

                        }

                    }

                }

            }

        }

        .divider {

            background-color: var(--bg-outline);
            align-self: stretch;
            height: 1px;
            width: 100%;

        }

        .footer {

            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            display: flex;
            gap: 2rem;

            h6 { color: var(--tg-secondary); }

            i {

                justify-content: center;
                border-radius: 0.25rem;
                transition: 0.2s ease all;
                align-items: center;
                font-size: 1.25rem;
                display: flex;
                height: 2.5rem;
                width: 2.5rem;
                color: var(--tg-primary);
    
                &:hover {
    
                    background-color: var(--bg-outline);
                    cursor: pointer;
    
                }
    
            }

        }

    }

}

@media only screen and (max-width: 1199px) {

    .navbar .container .navbar-collapse .container .navbar-nav.mr-auto {

        margin-left: 0rem;
        gap: 0.5rem;

    }

    .navbar .container .navbar-collapse .container .navbar-nav.ml-auto {

        display: flex;
        gap: 1rem;

        .nav-item.controls {

            gap: 0.5rem;
            
        }

    }

    #what-we-offer .wrapper .list {

        width: 100%;

    }

    #what-we-offer .wrapper img {

        display: none;

    }

}

@media only screen and (max-width: 990px) {

    .navbar .container .navbar-collapse .container .navbar-nav.mr-auto {

        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
        display: flex;
        width: 100%;
        gap: 1rem;

        li {

            border-radius: 0.25rem;
            border: 1px solid var(--bg-outline);
            width: 100%;

            a {

                font-weight: 600;
                transition: 0.2s ease all;
                padding: 1rem;
                width: 100%;
                color: var(--tg-secondary);
    
                &:hover, &.active {
    
                    background-color: var(--bg-outline);
                    color: var(--accent);
    
                }

            }

        }


    }

    .navbar .container .navbar-collapse .container .navbar-nav.ml-auto {

        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
        width: 100%;

        .nav-item.controls {

            align-self: center;
            display: flex;
            gap: 1rem;

            i {

                justify-content: center;
                border-radius: 0.25rem;
                transition: 0.2s ease all;
                align-items: center;
                font-size: 1.25rem;
                display: flex;
                height: 2.5rem;
                width: 2.5rem;
                color: var(--tg-primary);
    
                &:hover {
    
                    background-color: var(--bg-outline);
                    cursor: pointer;
    
                }
    
            }

        }

        .nav-item.cta {

            display: flex;
            gap: 0.5rem;
            width: 100%;

            button {

                width: 100%;

            }

        }


    }

    #home .container .info p { width: 100%; } 

    #get-a-hold-of-us .container .container .forms .wrapper {

        gap: 0rem;

        .name {

            flex-direction: column;
            gap: 0rem;

        }

    }

}

@media only screen and (max-width: 767px) {

    #get-a-hold-of-us .container .container {

        flex-direction: column;
        display: flex;

    }

    #footer .container .wrapper {

        flex-direction: column;
        justify-content: space-between;
        display: flex;

    }

}

@media only screen and (max-width: 575px) {

    #footer .container .wrapper .links {

        flex-direction: column;
        display: flex;
        gap: 1rem;

    }

    #footer .container .footer {

        flex-direction: column;
        text-align: center;
        display: flex;

    }

}