@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

* {

    font-family: "Assistant", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html[data-theme="light"] {

    --bg-primary: #BBBBBB;
    --bg-secondary: #DCDCDC;
    --bg-tertiary: #EAEAEA;
    --bg-outline: #B0B0B0;
    --tg-primary: #151515;
    --tg-secondary: #606060;
    --tg-disabled: #AAAAAA;
    --accent: #6150FF;
    --accent-hovered: #4A3BD2;

}

html[data-theme="dark"] {

    --bg-primary: #101010;
    --bg-secondary: #202020;
    --bg-tertiary: #303030;
    --bg-outline: #404040;
    --tg-primary: #E0E0E0;
    --tg-secondary: #A0A0A0;
    --tg-disabled: #404040;
    --accent: #6150FF;
    --accent-hovered: #4A3BD2;

}

body {

    grid-template-columns: 100%;
    grid-template-rows: 8vh 84vh 8vh;
    background-color: var(--bg-primary);
    height: 200vh;
    display: grid;

    h1 {

        font-weight: 700;
        font-size: 3rem;
        color: var(--accent);
        
    }

    h2 {

        font-weight: 700;
        font-size: 3rem;
        color: var(--tg-primary);

    }

    h6 {

        font-size: 1rem;
        color: var(--tg-secondary);

    }

    p {

        font-weight: 400;
        font-size: 1.5rem;
        color: var(--tg-secondary);

    }

    button[data-type="primary"] {
    
        background-color: var(--accent);
        justify-content: center;
        border-radius: 0.25rem;
        align-items: center;
        font-weight: 600;
        transition: 0.2s ease all;
        padding: 0.5rem 1rem;
        display: flex;
        border: 0;
        color: var(--bg-primary);
    
        &:hover {
    
            background-color: var(--accent-hovered);
            color: var(--tg-primary);
            cursor: pointer;
    
        }
    
    }
    
    button[data-type="secondary"] {
    
        background-color: transparent;
        justify-content: center;
        border-radius: 0.25rem;
        align-items: center;
        font-weight: 600;
        transition: 0.2s ease all;
        padding: 0.5rem 1rem;
        display: flex;
        border: 1px solid var(--bg-outline);
        color: var(--tg-primary);
    
        &:hover {
    
            background-color: var(--bg-outline);
            cursor: pointer;
    
        }
    
    }

}

.navbar {

    background-color: var(--bg-tertiary);
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-outline);
    align-items: center;
    align-self: stretch;
    position: fixed;
    grid-row: 1;
    padding: 0rem 16rem;
    display: flex;
    height: 8vh;
    width: 100%;

    .navbar-left {

        align-items: center;
        display: flex;
        gap: 2rem;

        .navbar-brand {

            align-items: flex-end;
            display: flex;
            gap: 1rem;
    
            img {
    
                height: 2.5rem;
                width: 2.5rem;
    
            }
    
            h2 {
    
                font-weight: 800;
                font-size: 1.5rem;
                color: var(--tg-primary);
    
            }
    
        }

        .navbar-nav {

            flex-direction: row;
            display: flex;
            gap: 1rem;

            .active a {

                color: var(--accent);
            
            }

            li a {

                transition: 0.2s ease all;
                font-weight: 600;
                font-size: 1rem;
                color: var(--tg-primary);

                &:hover {

                    cursor: pointer;
                    color: var(--accent);

                }

            }

        }

    }

    .navbar-right {

        align-items: center;
        display: flex;
        gap: 2rem;

        .controls {

            align-items: center;
            display: flex;
            gap: 1rem;

            i {

                transition: 0.2s ease all;
                font-size: 1.25rem;
                color: var(--tg-primary);

                &:hover {

                    cursor: pointer;
                    color: var(--accent);

                }

            }

        }

        .divider {

            background-color: var(--bg-outline);
            align-self: stretch;
            width: 0.0625rem;

        }

        .cta {

            display: flex;
            gap: 1rem;

        }

    }

}

#home {
    
    background: linear-gradient(180deg, var(--bg-primary)  0%, var(--bg-secondary) 100%);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-column: 1;
    grid-row: 2;
    padding: 0rem 16rem;
    display: flex;
    width: 100%;

    .info {

        flex-direction: column;
        display: flex;
        gap: 1rem;

    }

    .cta {

        display: flex;
        gap: 1rem;

    }

}

#hero-footer {

    background-color: var(--bg-secondary);
    place-content: center;
    grid-row: 3;
    display: grid;

    p {

        font-weight: 400;
        font-size: 0.875rem;

    }

}